.page {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: lightblue;
  height: 100vh;
}
.page .container {
  width: 40vw;
  height: 70vh;
  border: 2px solid black;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}