.page {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: lightblue;
  height: 100vh;
  width: 100%;
}
.page .container {
  width: 400px;
  height: 500px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}